.test-history-card {
    /* display: flex;
    flex-direction: column; */
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #ffffff;
    border: 1px solid #E7E9ED;
    border-radius: 17px;
    /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); */
    margin-bottom: 24px;
    width: 727px;
    height: 158px;
    font-family: 'Noto Sans', 'Inter', sans-serif;
}

.card-top {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap; /* Чтобы кнопки не ломались на мобильных */
    margin-bottom: 14px;
}

.test-info {
    flex: 1;
    min-width: 200px;
}

.test-header {
    margin-bottom: 8px;
}

.teacher-name {
    font-size: 17px;
    font-weight: 400;
    color: #18191C;
    margin: 0 0 5px 0;
}

.test-name {
    font-size: 24px;
    font-weight: 500;
    color: #18191C;
    margin: 0 0 9px 0;
}

.test-date {
    display: flex;
    align-items: center;
    color: #5E6670;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}

.test-date svg {
    margin-right: 8px;
    color: #5E6670;
}

.test-description {
    color: #555;
    font-size: 16px;
    line-height: 1.5;
    margin: 0px;
}

.test-actions {
    display: flex;
    gap: 35px;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.action-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 45px;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    border-radius: 10px;
    transition: background-color 0.2s;
    text-align: center;
    background-color: #3373E4;
    color: white;
    font-family: 'Inter', sans-serif;
    /* margin-right: 35px; */
}

.action-button:hover {
    background-color: #2861c7;
}

.teacher-test-card {
    background: #FFFFFF;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.teacher-test-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.teacher-test-author {
    font-size: 14px;
    color: #666;
}

.teacher-test-actions {
    display: flex;
    gap: 10px;
    align-items: center;
}

.teacher-action-button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s;
}

.teacher-action-button.results {
    background-color: #2196F3;
    color: white;
}

.teacher-action-button.analysis {
    background-color: #4CAF50;
    color: white;
}

.teacher-icon-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 4px;
}

.teacher-icon-button img {
    width: 30px;
    height: 30px;
}

.teacher-test-title {
    font-size: 20px;
    margin: 10px 0;
    color: #333;
}

.teacher-test-date {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}

.teacher-test-description {
    font-size: 14px;
    color: #444;
    line-height: 1.5;
}