.right-side-bar {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: regular;
  width: 250px;
  height: fit-content;

  /* border: 1px solid #E7E9ED; */

    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .right-side-bar h3 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .advertisement {
    height: 267px;
    align-items: center;
    text-align: center;
  }
  
  .advertisement, .quick-profile {
    background-color: white;
    padding: 10px;
    border: 1px solid #E7E9ED;
    border-radius: 17px;
    background-color: white;
    padding: 24px;
  }
  
  .newsletter-subscription input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
  }
  
  .newsletter-subscription button, .quick-profile button {
    font-size: 16px;
    font-family: 'Inter';
    font-weight: 400;
    text-align: center;
    width: 202px;
    height: 40px;
    background-color: #3575E2;
    color: white;
    border: none;
    border-radius: 17px;
    cursor: pointer;
  }

  .bru-logo {
    height: 100%;
  }

  .quick-profile h3 {
    margin-top: 0px;
    margin-bottom: 16px;
    font-family: 'Noto-Sans', sans-serif;
    font-weight: bold;
    font-size: 19px;
    color: #18191C;
    line-height: 1.5;
  }

  .quick-profile p {
    font-family: 'Inter';
    font-size: 14px;
    line-height: 1.5;
    color: #393F47;
    margin-bottom: 16px;
    font-weight: 400;
    text-align: unset;
  }
  