.vacancy-header-full {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 94px;
    align-items: center;
}

.header-content {
    width: fit-content;
}

.company-info {
    display: flex;
    flex-direction: row;
    gap: 7px;
    align-items: center;
}

.header-country-flag{
    width: 40px;
    height: 24px;
    object-fit: contain;
    border-radius: 4px;
}

.employer-name-header {
    margin: 0px;
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
}

.job-title {
    margin: 0px 0px 10px 0px;
    font-size: 32px;
    line-height: 150%;
    font-weight: medium;
}

.salary {
    margin: 0px;
    background-color: #E7F0FA;
    color: var(--button-color);
    width: fit-content;
    padding: 4px  15px;
    font-family: 'Inter', sans-serif;
    font-weight: medium;
    font-size: 20px;
    line-height: 24px;
}

.vacancy-buttons {
    display: flex;
    gap: 12px;
}

.apply-button {
    display: flex;
    font-family: 'Inter', sans-serif;
    gap: 12px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    padding: 16px 46px;
    width: 242px;
    height: 56px;
    color: #fff;
    background-color: var(--button-color);
    border: none;
    border-radius: 17px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.apply-button:hover {
    background-color: var(--button-hover-color);
}

.save-icon {
    cursor: pointer;
    width: 50px;
    height: 50px;
}