.vh-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 94px;
    align-items: center;
}

.vh-left-section {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.vh-content-wrapper {
    width: fit-content;
}

.vh-employer-logo img {
    width: 100px;
    height: 100px;
}

.vh-employer-logo-placeholder {
    width: 100px;
    height: 100px;
}

.vh-company-info {
    display: flex;
    flex-direction: row;
    gap: 7px;
    align-items: center;
}

.vh-country-flag {
    width: 40px;
    height: 24px;
    object-fit: contain;
    border-radius: 4px;
}

.vh-employer-name {
    margin: 0px;
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
}

.vh-job-title {
    margin: 0px 0px 10px 0px;
    font-size: 32px;
    line-height: 150%;
    font-weight: medium;
}

.vh-salary {
    margin: 0px;
    background-color: #E7F0FA;
    color: var(--button-color);
    width: fit-content;
    padding: 4px  15px;
    font-family: 'Inter', sans-serif;
    font-weight: medium;
    font-size: 20px;
    line-height: 24px;
}

.vh-buttons-container {
    display: flex;
    gap: 12px;
}

.vh-apply-button {
    display: flex;
    font-family: 'Inter', sans-serif;
    gap: 12px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    padding: 16px 46px;
    width: 242px;
    height: 56px;
    color: #fff;
    background-color: var(--button-color);
    border: none;
    border-radius: 17px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.vh-apply-button:hover {
    background-color: var(--button-hover-color);
}

.vh-save-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vh-save-button:hover {
    opacity: 0.8;
}

.vh-save-icon {
    width: 50px;
    height: 50px;
    margin-right: 16px;
}