.vacancy-page {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 80px;
}

.vacancy-container {
    margin-bottom: 80px;
}

.vacancy-content {
    display: grid;
    grid-template-columns: 1fr 350px;
    gap: 24px;
    margin-top: 32px;
}

@media (max-width: 1024px) {
    .vacancy-page {
        padding: 0 20px;
    }

    .vacancy-content {
        grid-template-columns: 1fr;
    }
}