.left-bar-filter {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 150%;
    font-weight: regular;
    width: 250px;
    height: fit-content;
    padding: 24px;
    background-color: white;
    border-right: 1px solid var(--border-color);
    border-radius: 17px;
  }
  
  .left-bar-filter h2 {
    font-size: 20px;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
  }
  
  .left-bar-filter h3 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 12px;
    margin-top: 0px;
  }
  
  .filter-section {
    margin-bottom: 16px;
  }
  
  .filter-section label {
    display: block;
    margin-bottom: 5px;
  }
  
  .filter-section input[type="text"] {
    max-width: 202px;
    max-height: 40px;
    padding: 8px 73px 8px 12px;
    margin-bottom: 16px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
  }
  .filter-section.region {
    margin-bottom: 18px;
  }

  .filter-section.region label {
    opacity: 0.3;
  }
  .letter {
    margin: 0px 0px 12px 0px ;
    opacity: 0.3;
  }

  .filter-header {
    display: flex;
    gap: 16px;
  }

  .reset-filter {
    border: none;
    background-color: transparent;
    color: #295AAF;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .use-filter {
    width: fit-content;
    height: 40px;
    border: 1px solid var(--border-color);
    font-family: 'NotoSans', sans-serif;
    color: var(--header-text-color);
    font-size: 16px;
    line-height: 150%;
    border-radius: 10px;
    background-color: var(--button-color);
    color: white;
    padding: 8px 15px;
    cursor: pointer;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.03);
  }